<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>SmartFile</title>
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
  <script src='/static/js/jquery.min.js'></script>
  <script src='/static/js/bootstrap.min.js'></script>
</head>

<body>



<div class="container-narrow">
    {% block body %}{% endblock %}
</div>

</body>
</html>
